/*============
  Initialize
==============*/

html,body,nav,p,footer,ul {
	margin:0;
	padding:0;
}

h2 > span {
	display:block;
	font-size:14px;
	margin-top:15px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Serif JP', serif;
	margin:0;
}

h2 {
	font-size:40px;
	margin-bottom:50px;
	letter-spacing:2px;
}

h3 {
	font-size:30px;
}

.headline2 {
	font-size:28px;
}

.blog_title {
	font-size:22px;
	white-space:nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
    color:white;
}

.blog_title:hover {
	color:#b3b3b3;
}

.wrap {
	margin:auto;
	padding-right:14px;
	padding-left:14px;
}

.eng_break {
	word-break: break-all;
	margin-bottom:30px;
}

p {
	line-height:1.6;
}

nav ul li a{
	color:#FFFCFC;
	font-family: 'Noto Serif JP', serif;
}

img {
	max-width:100%;
}

.wp_social_bookmarking_light {
	display:none!important;
}
/*============
  head
==============*/

.header_bg {
	background-color:#2B2D2F;
	color:#FFFCFC;
	padding:14px;
}

.header_flex{
	display:flex;
	justify-content: space-between;
	max-width:1200px;
	margin:auto;
	align-items: center;
}

header nav ul li {
	list-style:none;
	text-align:center;
	display:inline-block;
	margin-right:4px;
}

.hamburger {
	display:none;
}

#nav {
	transition:.5s;
	position:absolute;
	top:-120px;
	width: 100%;
	z-index: 1000000;
    background: #2B2D2F;
}

#nav a {
	color:#FFFCFC;
}

#nav li {
	list-style:none;
}

#nav.in {
	
	position: absolute;
   	top:45px;
    width: 100%;
    z-index: 1000000;
    padding-bottom: 20px;
    transition:.5s;
    padding-left: 30px;
    left: 0px;
}

#nav.in ul {
	position: relative;
    top: 15px;
}

#nav.in li {
	
	margin-bottom:10px;
}

#nav.in a {
	color:#FFFCFC;
}
/*============
  main visual 
==============*/

#main_visual {
	position:relative;
	

}

#main_visual_text {
	color:white;
	max-width:1200px;
	margin:auto;
	padding:60px 0;
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	right:0;
}

.visual_t1 {
	font-size:32px;
	margin-bottom:25px;
	line-height:1.4;
}

.visual_t1 {
	max-width:500px;
}

.visual_t2 {
	margin-bottom:40px;
	max-width:500px;
}

/*============
  common class
==============*/

.mb0 {
	margin-bottom:0 !important;
}

.mr20 {
	margin-right:20px;
}

.t_right {
	text-align:right;
}

/*============
  body   sectionのとこ
==============*/
.layout {
	padding:60px 0px 100px;
}

.wrapper {
	max-width:1200px;
	margin:auto;
	padding:0 14px;
}

.section_bg {
	background-color:#3E4246;
}

.white_c {
	color:white;
}

.service_box {
	border:1px solid #3E4246;
	max-width:1000px;
	margin:auto;
	display:flex;
	align-items:center;
	padding: 20px 20px 35px;
	justify-content: space-around;
	margin-bottom:30px;
}

h3.headline2 {
	font-weight:normal !important;
	margin-bottom:20px;
}

.s_box1 {
	width:33%;
}

.s_box2 {
	width:20%;
}

.s_box3 {
	width:40%;
	position:relative;
}


/*============
  portfolio section
==============*/

.youtube {
	width:100%;
	height:auto;
	aspect-ratio:16/9;
	margin-bottom:25px;
}

.portfolio_b h3 {
	margin-bottom:15px;
}

.portfolio_notice {
	max-width: 547px;
    margin: auto;
    padding-top: 25px;
    position: relative;
    padding-bottom: 15px;
    top: 40px;
    text-align: center;

}

.mini_wrap h3 {
	font-size:23px;
}

.github_link {
	font-size:16px;
	color:white;
}

.github_link:hover {
	color:white;
}

.portfolio3_box {
	display:flex;
	margin-bottom:90px;
}

.portfolio_heading {
	margin-bottom:50px !important;
	text-align:center;
}
/*============
  blog section
==============*/


.blog_b h3 {
	margin-bottom:15px;
}

/*============
  contact
==============*/

.wpcf7 {
	width:100%;
}
.wpcf7-form {
	display: flex;
    position: relative;
    justify-content: space-between;
}

form.wpcf7-form p {
	position:absolute;
	right:0;
	left:0;
	margin:auto;
	bottom: -90px;
	width:101px;

}

textarea.wpcf7-textarea {
	min-width:450px;
	padding:15px;
	max-height:155px;
	border-left: 20px solid #244A65;
}


.wpcf7-text {
	min-width:450px;
}

.wpcf7-submit {
	background: #244A65;
    color: white;
    border-radius: 5px;
    padding: 6px 22px;

}

.contact_table tr {

	display:block;
	
	min-width:450px;
}

.contact_table tr:first-child {
	margin-bottom:30px;
}

.contact_table th {
	background-color:#244A65;
	color:white;
	padding:20px 10px;
}

span.your-name input {
	padding: 19px 15px;
}

span.your-email input {
	padding: 19px 15px;
}



.contact_flex {
	display:flex;
	justify-content:space-around;
	max-width:1000px;
	margin:auto;
	margin-bottom:50px;
}

.screen-reader-response {
	margin-bottom:25px;
	text-align:center;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
	display:none;
}

.wpcf7-submit:hover {
	background:#007089;
	color:white;
	text-decoration:none;
}

/*============
  footer 
==============*/


footer {
	background:#3E4246;
	color:white;
}

.footer_inner {
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background: #2B2D2F;
	flex-direction: row-reverse;
}

footer nav ul li {
	list-style:none;
}

.footer_nav {
	margin-right:10px;
}

.footer_nav > nav > ul {
	display:flex;
}

.footer_nav > nav > ul >li{
	margin-right:5px;
}

.copyright {
	padding:0 14px ;
	background:#2B2D2F;
}

.copyright p {
	max-width:1200px;
	margin:auto;
	padding:10px 0px;
}

.footer_mail {
	border:1px solid white;
	min-width:200px;
	display:inline-block;
	padding:5px 10px;
	border-radius:3px;
	margin-top:20px;
	margin-right:20px;
}
/*============
  common parts
==============*/

.img_box {
	margin-bottom:30px;
}

.btn1 {
	display:block;
	padding:10px 10px;
	background-color:#244A65;
	width:100px;
	text-align:center;
	color:white;
	border-radius:5px;
	position:absolute;
	right:0;
	font-size:14px;
}

.btn2 {
	display:block;
	padding:10px 10px;
	background-color:#244A65;
	width:100px;
	text-align:center;
	color:white;
	border-radius:5px;
	margin:auto;
	font-size:14px;
}

.btn3 {
	display:inline-block;
	padding:10px 10px;
	background-color:#244A65;
	width:150px;
	text-align:center;
	color:white;
	border-radius:5px;
	margin:auto;
	font-size:11px;
}

.btn4 {
	display:block;
	padding:10px 10px;
	background-color:#244A65;
	max-width:150px;
	text-align:center;
	color:white;
	border-radius:5px;
	
	font-size:14px;
}

.btn5 {
	display:block;
	padding:10px 10px;
	background-color:#244A65;
	max-width:150px;
	text-align:center;
	color:white;
	border-radius:5px;
	margin:auto;
	font-size:14px;
 	position: relative;
    top: 45px;
}

.btn2:hover {
	background:#007089;
	color:white;
	text-decoration:none;
}

.btn4:hover {
	background:#007089;
	color:white;
	text-decoration:none;
}

.btn5:hover {
	background:#007089;
	color:white;
	text-decoration:none;
}

.mb10 {
	margin-bottom:10px;
}

.mb20 {
	margin-bottom:20px;
}

.mb30 {
	margin-bottom:30px;
}

.pt20 {
	padding-top:20px;
}
.pt30 {
	padding-top:30px;
}



@media screen and (min-width:1080px){
	
}


a {
	text-decoration:none;
	
}

.head_flex {
	display:flex;
	justify-content:space-between;
	padding:15px 0px;
}


nav ul {
	
	padding:0; /*初期cssをリセット*/;
}




nav ul li:last-child a {
	
}

nav ul li a:hover {
	text-decoration:none;
	color:white;
}
.flex {
	display:flex;
}




#top_head {
	font-size:15px;
	
}





.footer_inner {
	padding:10px 0px;
}

.center {
	text-align:center;
}





@media screen and (max-width:1200px){
#main_visual_text {
	padding:60px 14px;
}
.footer_inner {
	padding:10px 14px;
}

.service_box {
	padding:;
}
}

@media screen and (max-width:950px){

/*============
  contact part
==============*/

.contact_table {
	margin-bottom:30px;
}

textarea.wpcf7-textarea {
	min-width:470px;
	
}



form.wpcf7-form {
	flex-direction:column;
	align-items:center;
}

.s_box1 {
	width:33%;
}

.s_box3 {
	width:37%;
}

.headline2 {
	font-size:22px;
}
}


@media screen and (max-width:767px){

/*============
  Initialize
==============*/

h2 {
	font-size:30px;
}

h2#contact {
	margin-bottom:35px;
}

h3 {
	font-size:22px;
}

.headline2 {
	font-size:22px;
}

.layout {
	padding:40px 0 80px;
}
/*============
  main visual 
==============*/
#main_visual img {
	min-height:320px;
}

#main_visual_text {
	padding:18px 14px;
}

.visual_t1 {
	font-size:22px;
	max-width:440px;
}

.visual_t2 {
	margin-bottom:30px;
	max-width:360px;
}
/*============
  portfolio part
==============*/
.portfolio_b.type1 {
	margin-bottom:60px;
}

.portfolio_notice {
	max-width: 440px;
   
    text-align: left;

}
/*============
  service part
==============*/

.service_box {
	flex-direction:column;
}

.s_box1,.s_box2,.s_box3 {
	width:auto;
}

.s_box3 {
	padding-left:15px;
}
/*============
  blog part
==============*/

.blog_b {
	margin-bottom:30px;
}

.col-sm-4 p {
	max-width:500px;
	margin:auto;
}

.blog_title {
max-width: 500px;
    margin: auto;
}
/*============
  contact part
==============*/

.contact_table {
	margin-bottom:30px;
}

.contact_table tr {
	min-width:300px;
}

.contact_content {
	min-width:300px;
}

.contact_flex {
	flex-direction:column;
}

.wpcf7-text {
	min-width:300px;

}

.wpcf7-form {
	flex-direction:column;
		align-items: center;
}

textarea.wpcf7-textarea {
	min-width:auto;
	width:338px;
}
/*============
  footer
==============*/

.copyright p {
	padding:14px 0px 10px;
}

/*============
  common parts
==============*/

.img_box {
	text-align:center;
	margin-bottom:30px;
}

.xs_mb30 {
	margin-bottom:30px;
}

.mini_wrap {
	max-width:440px;
	margin:auto;
}

.sm_mb0 {
	margin-bottom:0;

}

}

@media screen and (max-width:540px){

/*============
  common
==============*/
.xs_mb0 {
	margin-bottom:0 !important;
}


/*============
  header
==============*/

.header_nav {
	display:none;
}

.hamburger {
	display:block;
	position: relative;
    top: 5px;
    z-index: 100000000;
}

.hamburger span {
  
    height: 3px;
    width: 20px;
    margin-bottom:5px;
    display: block;
    background: white;
}



/*============
  portfolio
==============*/

.portfolio3_box {
	margin-bottom:50px;
}

/*============
  footer
==============*/

.footer_inner {
	flex-direction:column;
	padding: 20px 14px 10px;
}

.footer_nav {
	width:100%;
	margin-right:0;
}

.footer_nav li {
	display:inline-block;
	width:49%;
	margin-bottom:0px;
	text-align:center;
	margin-right:0;
}

.none_from540 {
	display:none;
}

}